body{
	background: black;
	color: white;
}

.typing{
  overflow: hidden;
  white-space: nowrap;
}

.typing{
  border-right: .2em solid;
  animation:
    typingEffect 3s steps(50),
    blinkEffect .5s step-end infinite;
}


@keyframes typingEffect{
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkEffect{
  from, to { border-color: transparent }
  50% { border-color: inherit; }
}
